body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div .card {
  margin: 2%;
}

footer {background-color: #393838;
  color: white;
    font-family: verdana;
   text-align: center;
padding: 3px;
    font-size: 80%;
    margin-top: 25px;
 }

#Telefono{
      font-size: 170%;
color: #3c99d3;
}

#Linea{
background-color: #7993ab;
height: 10px;
width: 100%;
}

#destacados{
  color: #000000;
  }


.ferrum{
  height:1000%,
  }

#delta{
  width: 150%;
  }

#Logo-Negativo{
  width: 150%;
   }
    
#logo_ips{
  width: 50%;
  }
    
.MuebleColgante{
  color: #141516;
}
